/* General */
.hidden {
  display: none !important;
}

/* Toast */
.toasts-container {
  position: absolute;
  right: 1rem;
  left: 1rem;
  top: 1rem;
  z-index: 1090;
  pointer-events: none;
}
.toast {
  position: relative;
  --toast-color: #212529;
  --toast-bg: #fff;
  --toast-border-radius: var(--border-radius);
  --toast-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --toast-close-width: 1rem;
  --toast-close-height: 1rem;
  --toast-padding-x: 1rem;
  --toast-padding-y: 1rem;

  width: 22rem;
  max-width: 100%;
  font-size: 0.875rem;
  pointer-events: auto;
  background-clip: padding-box;
  padding: var(--toast-padding-y) var(--toast-padding-x);
  color: var(--toast-color);
  background-color: var(--toast-bg);
  border-radius: var(--toast-border-radius);
  box-shadow: var(--toast-box-shadow);
  padding-left: calc(var(--toast-close-width) + var(--toast-padding-x) + 1rem);
}
.toast-danger {
  --toast-bg: #f1416c;
  --toast-color: #fff;
}
.toast-success {
  --toast-bg: #50cd89;
  --toast-color: #fff;
}
.toast-close {
  --toast-close-color: #000;
  --toast-close-opacity: 0.5;
  --toast-close-hover-opacity: 0.75;
  --toast-close-focus-opacity: 1;
  --toast-close-disabled-opacity: 0.25;

  box-sizing: content-box;
  width: var(--toast-close-width);
  height: var(--toast-close-height);
  padding: 0.25em 0.25em;
  color: var(--toast-close-color);
  background: none;
  border: 0;
  border-radius: 0.375rem;
  opacity: var(--toast-close-opacity);
  position: absolute;
  left: var(--toast-padding-x);
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.toast-close:hover {
  opacity: var(--toast-close-hover-opacity);
}
.toast-close:focus {
  opacity: var(--toast-close-focus-opacity);
}
.toast-close svg {
  width: 100%;
  height: auto;
}

/* Buttons */
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: none;
  white-space: nowrap;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.42857;
  border-radius: 0.25rem;
  user-select: none;
  font-family: inherit;
}
.btn-error {
  background-color: #ed6b75;
  color: #fff;
}
.btn-error:hover,
.btn-error:focus {
  background-color: #e73d4a;
}
.btn-success {
  color: #fff;
  background-color: #36c6d3;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #27a4b0;
}

/* Modal */
.modal-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.32);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.modal-title {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
}
.modal-message {
  color: #777;
  margin-bottom: 1.25rem;
  line-height: 1.4;
}
.modal-btn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
}
.modal-btn .btn + .btn {
  margin-right: 0.75rem;
}

/* Alert */
@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes animateXMark {
  0% {
    transform: scale(0.6);
    margin-top: 1.625rem;
    opacity: 0;
  }
  50% {
    transform: scale(0.6);
    margin-top: 1.625rem;
    opacity: 0;
  }
  100% {
    transform: scale(1);
    margin-top: 0;
    opacity: 1;
  }
}
.alert-modal {
  background-color: #ffffff;
  width: 30rem;
  padding: 1rem;
  border-radius: 0.25rem;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}
.sa-icon {
  --sa-icon-size: 3.75rem;
  --sa-border-width: 3px;
  --sa-border-color: var(--secondary-text-color);
  width: var(--sa-icon-size);
  height: var(--sa-icon-size);
  border: var(--sa-border-width) solid var(--sa-border-color);
  border-radius: 50%;
  margin: 1.25rem auto;
  position: relative;
  box-sizing: content-box;
}
.sa-x-mark {
  position: relative;
  display: block;
}
.sa-line {
  --sa-line-height: 2px;
  --sa-line-width: calc(var(--sa-icon-size) * 0.58);
  --sa-line-top: calc((var(--sa-icon-size) - var(--sa-line-width)) + 0.25rem);
  --sa-tip-width: calc(var(--sa-icon-size) * 0.3);
  --sa-long-width: calc(var(--sa-icon-size) * 0.5);
  position: absolute;
  display: block;
  z-index: 2;
}
.sa-error {
  animation: animateErrorIcon 0.5s;
  border-color: #d43f3a;
}
.sa-error .sa-x-mark {
  height: 100%;
  animation: animateXMark 0.5s;
}
.sa-error .sa-line {
  background-color: #d9534f;
  height: var(--sa-line-height);
  width: var(--sa-line-width);
  top: var(--sa-line-top);
  border-radius: 0.125rem;
}
.sa-error .sa-line.sa-left {
  transform: rotate(45deg);
  left: 14px;
}
.sa-error .sa-line.sa-right {
  transform: rotate(-45deg);
  right: 13px;
}
.sa-success {
  border-color: #4cae4c;
}
.sa-success .sa-line {
  height: var(--sa-line-height);
  background-color: #5cb85c;
}
.sa-success .sa-line.sa-tip {
  width: var(--sa-tip-width);
  left: 12px;
  top: 37px;
  transform: rotate(45deg);
}
.sa-success .sa-line.sa-long {
  width: var(--sa-long-width);
  right: 8px;
  top: 33px;
  transform: rotate(-45deg);
}

/* Confirm */
.confirm-modal {
  background-color: #ffffff;
  width: 30rem;
  padding: 1rem;
  border-radius: 0.25rem;
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}

/* Overlay */
.overlay-container .view-wrapper {
  background-color: #fff;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.24);
  padding: 0.5rem;
  border-radius: 0.625rem;
  font-size: 1rem;
  min-width: 10rem;
  z-index: 10;
}
.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* BottomSheet */
.sheet-backdrop {
  background-color: rgba(0, 0, 0, 0.32);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.bottom-sheet-container {
  --bottom-sheet-container-radius: 1.75rem;
  --bottom-sheet-container-padding: 2.25rem 1rem 1rem;
  --bottom-sheet-container-bg: #fff;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}
.bottom-sheet-container .view-wrapper {
  border-top-left-radius: var(--bottom-sheet-container-radius);
  border-top-right-radius: var(--bottom-sheet-container-radius);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3),
    0px 4px 8px 3px rgba(0, 0, 0, 0.15);
  padding: var(--bottom-sheet-container-padding);
  background-color: var(--bottom-sheet-container-bg);
  position: relative;
  width: 100%;
  min-height: 30%;
  max-height: 90%;
}
.bottom-sheet-container .view-wrapper::before {
  content: "";
  width: 2rem;
  height: 0.25rem;
  background-color: #79747e;
  position: absolute;
  left: 0;
  right: 0;
  top: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6.25rem;
}

/* Tabs */
.tab-wrapper,
.tab-wrapper .view-wrapper,
.tab-container,
.tab-container .view-wrapper {
  position: absolute;
  inset: 0;
}
.tab-container {
  z-index: 1;
}
.tab-wrapper .view-wrapper,
.tab-container .view-wrapper {
  background-color: #fff;
}

/* Sample */
:root {
  --black: #000;
  --dark: #111;
  --white: #fff;
  --gray-1: #f0f0f0;
  --gray-2: #ccc;
  --gray-3: #ededed;
  --gray-4: #707579;
  --primary: #029cfd;
  --secondary: rgba(33, 37, 41, 0.75);
  --danger: #dc3545;
  --success: #198754;
  --bg-body: var(--gray-1);
  --heading-color: var(--black);
  --scrollbar-bg-color: rgba(0, 0, 0, 0.2);
  --border-width: 1px;
  --border-color: var(--gray-3);
  --border-radius: 0.25rem;
  --surface-color: var(--white);
  --secondary-text-color: var(--gray-4);
  --primary-text-color: var(--black);
  --loading-bg: var(--gray-3);
  --loading-color: var(--gray-4);
  --lds-ring-size: 2rem;
  --lds-ring-border-width: 3px;
  --lds-ring-div-margin: 0.25rem;
  --lds-ring-div-gutter: calc(var(--lds-ring-div-margin) * 2);
  --lds-ring-div-size: calc(var(--lds-ring-size) - var(--lds-ring-div-gutter));
}
body {
  background-color: var(--bg-body);
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--heading-color);
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
a {
  text-decoration: none;
}

/* Sample Components */
.text-center {
  text-align: center !important;
}
.text-start {
  text-align: start !important;
}
.text-end {
  text-align: end !important;
}
.text-danger {
  color: var(--danger);
}
.text-primary {
  color: var(--primary);
}
.cursor-pointer {
  cursor: pointer;
}
.ltr {
  direction: ltr;
}
.headline {
  font-size: 1rem;
  font-weight: 400;
}
.lead {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--secondary);
}
.button {
  --btn-color: var(--surface-color);
  --btn-padding-x: 0.75rem;
  --btn-padding-y: 0.375rem;
  display: inline-block;
  padding: var(--btn-padding-y) var(--btn-padding-x);
  font-size: 1rem;
  font-weight: 400;
  font-family: inherit;
  line-height: 1.5;
  color: var(--btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary);
}
.button.active {
  --primary: #0a58ca;
}
.button-icon {
  --btn-padding-x: var(--btn-padding-y);
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.button-icon svg {
  fill: currentColor;
}
.input {
  --input-background: var(--surface-color);
  --input-border-color: var(--gray-2);
  --input-border-radius: var(--border-radius);
  --input-color: var(--dark);
  --input-padding-x: 0.5rem;
  --input-padding-y: 0.25rem;
  appearance: none;
  background: none;
  box-shadow: none;
  font-family: inherit;
  font-size: 16px;
  background-color: var(--input-background);
  border: 1px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  color: var(--input-color);
  padding: var(--input-padding-y) var(--input-padding-x);
  display: block;
  width: 100%;
  outline: none;
}
.label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
}
.bg-danger {
  background-color: var(--danger) !important;
}
.bg-success {
  background-color: var(--success) !important;
}
.full-width {
  width: 100% !important;
}
.card {
  --card-padding-x: 1rem;
  --card-padding-y: 1rem;
  --card-bg: var(--surface-color);
  --card-border-width: var(--border-width);
  --card-border-color: var(--border-color);
  --card-border-radius: var(--border-radius);

  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--card-bg);
  border: var(--card-border-width) solid var(--card-border-color);
  border-radius: var(--card-border-radius);
  overflow: hidden;
}
.card-border .card-body {
  cursor: pointer;
}
.card-border .card-body + .card-body {
  border-top: 1px solid var(--border-color);
}
.card + .card {
  margin-top: var(--card-padding-y);
}
.card-header {
  padding: var(--card-padding-y) var(--card-padding-x);
}
.card-header + .card-body {
  padding-top: 0;
}
.card-body {
  padding: var(--card-padding-y) var(--card-padding-x);
}
.card-header h1,
.card-header h2,
.card-header strong {
  margin: 0;
  font-weight: 500;
  font-size: 0.875rem;
}
.card.is-thumbnail .card-body {
  --card-padding-x: 0;
  --card-padding-y: 0;
}
.card.is-thumbnail .card-body img {
  display: block;
  width: 100%;
}
.thumbnail-rows {
  --card-gap: 0.5rem;
  --card-grid-gap: var(--card-gap);

  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}
.thumbnail-rows.scrollable {
  flex-wrap: nowrap;
}
.thumbnail-rows:not(.scrollable) {
  margin-right: calc(var(--card-grid-gap) * -1);
}
.thumbnail-rows:not(.scrollable) .thumbnail {
  padding-right: var(--card-grid-gap);
  padding-left: var(--card-grid-gap);
  margin-bottom: var(--card-grid-gap);
}
.thumbnail-rows.scrollable .thumbnail {
  flex: none;
  margin-left: var(--card-gap);
}
.thumbnail {
  --thumbnail-border-radius: var(--border-radius);
  width: 33.333333%;
}
.thumbnail img {
  display: block;
  width: 100%;
  height: 125px;
  object-fit: cover;
  border-radius: var(--thumbnail-border-radius);
}
.thumbnail-title {
  font-size: 0.875rem;
  margin: 0.5rem 0 0;
  height: 23px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*  Sample Layout */
.wrapper {
  --topbar: 50px;
  --bottombar: 50px;
  --toolbar-bg: var(--surface-color);
  --toolbar-border-color: var(--gray-3);
  --content-padding-x: 1rem;
  --content-padding-y: 1rem;
  --toolbar-padding-x: var(--content-padding-x);
  --toolbar-padding-y: 0;
  position: absolute;
  inset: 0;
  overflow: hidden;
}
.wrapper,
.confirm-modal,
.wrapper .bottom-sheet-container .sheet-backdrop {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper,
.wrapper .tab-wrapper .view-wrapper,
.wrapper .tab-container .view-wrapper {
  background-color: var(--bg-body);
}
.wrapper .tab-wrapper {
  bottom: var(--bottombar);
}
.tab-wrapper-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.btn-wrapper,
.toolbar {
  padding: var(--toolbar-padding-y) var(--toolbar-padding-x);
  background-color: var(--toolbar-bg);
  display: flex;
  align-items: center;
}
.btn-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid var(--toolbar-border-color);
  height: var(--bottombar);
  justify-content: space-between;
}
.toolbar {
  flex-wrap: wrap;
}
.topbar {
  height: var(--topbar);
  min-height: var(--topbar);
  border-bottom: 1px solid var(--toolbar-border-color);
}
.topbar-title {
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
}
.bottombar {
  height: var(--bottombar);
  min-height: var(--bottombar);
  border-top: 1px solid var(--toolbar-border-color);
}
.bottombar .button + .button {
  margin-right: 0.5rem;
}
.tab-content {
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  background-color: var(--surface-color);
}
.tab-content.no-bg {
  background-color: transparent;
}
.content {
  --content-padding-x: 0;
  padding: var(--content-padding-y) var(--content-padding-x);
}
.content .detail {
  --content-padding-x: var(--content-padding-y);
  padding: 0 var(--content-padding-x);
}
.bottom-sheet-container .view-wrapper,
.scrollable {
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  user-select: none;
}
.bottom-sheet-container .view-wrapper::-webkit-scrollbar,
.scrollable::-webkit-scrollbar {
  opacity: 0;
}
.bottom-sheet-container .view-wrapper::-webkit-scrollbar-thumb,
.scrollable::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
}
.bottom-sheet-container .view-wrapper:hover::-webkit-scrollbar,
.scrollable:hover::-webkit-scrollbar {
  opacity: 1;
}
.bottom-sheet-container .view-wrapper::-webkit-scrollbar-thumb,
.scrollable:hover::-webkit-scrollbar-thumb {
  min-height: 5rem;
  max-height: 12.5rem;
  border-radius: var(--border-radius);
  background-color: var(--scrollbar-bg-color);
  -webkit-backdrop-filter: blur(100);
  backdrop-filter: blur(100);
  opacity: 1;
}
::-webkit-scrollbar-thumb {
  opacity: 0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
.scrolling {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.scrolling-r {
  position: relative;
}
.scrolling-x::-webkit-scrollbar {
  height: 0.375rem;
  width: 0;
}
.scrollable.scrolling-x {
  overflow-x: auto;
  scrollbar-width: thin;
  -ms-overflow-style: none;
}
.bottom-sheet-container .view-wrapper::-webkit-scrollbar,
.scrollable.scrolling-y::-webkit-scrollbar {
  height: 0;
  width: 0.375rem;
}
.bottom-sheet-container .view-wrapper,
.scrollable.scrolling-y {
  overflow-y: scroll;
  scrollbar-width: thin;
  -ms-overflow-style: none;
  transform: translateZ(0);
}
.avatar-element {
  --size: 54px;
  --multiplier: 1;
  --color-top: var(--avatar-color-top);
  --color-bottom: var(--avatar-color-bottom);

  color: var(--surface-color);
  width: var(--size);
  height: var(--size);
  line-height: var(--size) !important;
  border-radius: 50%;
  background: linear-gradient(var(--color-top), var(--color-bottom));
  text-align: center;
  font-size: calc(1.25rem / var(--multiplier));
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
  font-weight: 700;
  overflow: hidden;
}
.avatar-element img {
  border-radius: inherit !important;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.user-title {
  color: var(--primary-text-color);
  font-weight: bolder;
}
.chatlist {
  padding: 0 0.5rem 0.5rem;
  margin: 0;
  flex-direction: column;
  width: 100%;
  background-color: var(--surface-color);
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
.chatlist-item {
  display: flex;
  position: relative;
  height: 72px;
  border-radius: var(--border-radius);
  align-items: flex-start;
  flex-direction: row;
  cursor: pointer;
  padding: 0.5625rem;
  overflow: hidden;
}
.chatlist .dialog-avatar,
.chatlist .user-caption {
  pointer-events: none;
  position: relative;
}
.chatlist .dialog-avatar {
  flex: 0 0 auto;
}
.chatlist .user-caption {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  color: var(--secondary-text-color);
  flex: 1 1 auto;
  padding: 0.0625rem 0.4375rem 0.0625rem 0.5625rem;
}
.chatlist .user-caption > div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
  height: 27px;
}
.chatlist .dialog-subtitle {
  margin-top: -3px;
}
.chatlist-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 27px;
}
.chatlist .user-title {
  display: flex;
  align-items: center;
}
.chatlist .dialog-title-details {
  font-size: 0.75rem;
  padding: 1px 0 0;
  flex: 0 0 auto;
  margin-right: 0.5rem;
}
.chatlist .message-status {
  margin-right: 0;
  margin-left: 0.125rem;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
  position: relative;
  margin-top: -0.0625rem;
}
.chatlist .message-status svg,
.chatlist .message-time {
  vertical-align: middle;
}
.chatlist .message-status svg {
  width: 100%;
  fill: var(--success);
}
.bg-conversation {
  background-image: url("https://web.rubika.ir/assets/img/chat-bg-br.png");
  background-size: cover;
  background-position: 50%;
  background-color: inherit;
}
.bubbles {
  width: 100%;
  flex: 1 1 auto;
  position: relative;
  direction: ltr;
}
.bubbles-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 100%;
  justify-content: flex-end;
  padding: 0 0.8125rem;
}
.bubble {
  --message-background-color: var(--white);
  --messages-text-size: 0.75rem;
  position: relative;
  z-index: 1;
  margin: 0 auto 0.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
  max-width: 100%;
}
.bubble-content-wrapper {
  transform-origin: center;
  opacity: 1;
  max-width: 85%;
}
.bubble-content {
  min-width: 56px;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 1px 2px 0 rgba(16, 35, 47, 0.15);
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--message-background-color);
  border-radius: 12px 12px 12px 0;
}
.bubble .message {
  direction: rtl;
  font-size: var(--messages-text-size);
  padding: 0 0.5rem 0.375rem 0.625rem;
  max-width: 100%;
  line-height: 1.3125;
  word-break: break-word;
  white-space: pre-wrap;
  position: relative;
  direction: rtl;
  unicode-bidi: plaintext;
  padding-top: 6px;
}
.bubble .bubble-tail {
  position: absolute;
  width: 11px;
  height: 20px;
  z-index: -2;
  display: block;
  fill: var(--message-background-color);
  transform: translateY(1px);
  margin-left: -8.4px;
}
.mosaic-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  --mosaic-gap: 0.125rem;
  --mosaic-grid-gap: var(--mosaic-gap);

  margin-left: calc(var(--mosaic-gap) * -1);
  margin-right: calc(var(--mosaic-gap) * -1);
}
.mosaic-wrapper .mosaic {
  width: 33.333333%;
  padding-left: var(--mosaic-gap);
  padding-right: var(--mosaic-gap);
  margin-bottom: var(--mosaic-gap);
}
.mosaic-wrapper .mosaic img {
  width: 100%;
  display: block;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-title {
  flex: 1 1 auto;
}
.header-icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header-icon svg {
  max-width: 20px;
}
.menu-item {
  --menu-padding: 0.25rem;
  --menu-padding-right: 0.375rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: var(--menu-padding);
  padding-right: var(--menu-padding-right);
  cursor: pointer;
}
.menu-item-icon {
  --add: 0rem;
  --icon-size: 1.25rem;
  --total: calc(var(--icon-size) + var(--add));
  --icon-margin: 0.75rem;
  flex: 0 0 auto;
  width: var(--total);
  height: var(--total);
  margin-inline-end: calc(var(--icon-margin) - var(--add) / 2);
}
.menu-item-icon svg {
  fill: currentColor;
}

/* loading */
.lds-img {
  background: var(--loading-bg);
  height: 0;
  width: 100%;
  padding-top: 100%;
  position: relative;
}
.lds-img .lds-ring {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.lds-ring {
  display: block;
  position: relative;
  width: var(--lds-ring-size);
  height: var(--lds-ring-size);
  margin-left: auto;
  margin-right: auto;
}
.lds-ring div {
  box-sizing: border-box;
  position: absolute;
  border: var(--lds-ring-border-width) solid transparent;
  border-radius: 50%;
  border-top-color: var(--loading-color);
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  width: var(--lds-ring-div-size);
  height: var(--lds-ring-div-size);
  margin: var(--lds-ring-div-margin);
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
